.l-main {
  margin: 15px auto;
  padding: 15px;
  width: 100%;
  max-width: $pcContentsWidth;
  min-width: $viewMinWidth;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: $whiteColor;
  @include pc {
    margin: 50px auto;
    padding: 30px 20px;
  }

  > *:first-child {
    margin-top: 0;
  }
}