.u-align--center {
  text-align: center;
}
@include tab {
  .u-align--center-pc {
    text-align: center;
  }
}
.u-align--left {
  text-align: left;
}
.u-align--right {
  text-align: right;
}

.u-display--pc {
  display: none;
  @include tab {
    display: block;
  }
}
@include tab {
  .u-display--sp {
    display: none;
  }
}

.u-w30 {
  width: 30%;
}
.u-w70 {
  width: 70%;
}